@model Category

<div class="row">
    <div class="col-md-4">
        @Html.DisplayNameFor(m => m.Title)
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.Title)
    </div>

</div>
