@model List<OrderItem>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        <button type="button">

                        </button>
                        <a asp-action="DeleteOrderItem" asp-route-id="@item.Id" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove">X</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>No order items yet....</h4>
}

