@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome to our webshop!</h1>
    <a href="/Home/Product" class="btn btn-outline-secondary mt-5">Browse products</a>
</div>
<div class="text-center">
    <h2>@ViewBag.Message</h2>
</div>


